@font-face {
    font-family: Noto-sans;
    src: url(NotoSansMono-Black.ttf);
}
@keyframes button-anim{
    from{
        color: rgb(35, 134, 226);
        background-color: white;
        box-shadow: 0px 0px 40px rgb(124, 124, 124);
        transform: translateY(0px);
    }
    50%{
        transform: translateY(-10px);
    }
    to{
        color: white;
        background-color: rgb(35, 134, 226);
        box-shadow: 0px 0px 40px rgb(35, 134, 226);
        transform: translateY(0px);
    }
}
@keyframes button-anim-reverse{
    from{
        color: white;
        background-color: rgb(35, 134, 226);
        box-shadow: 0px 0px 40px rgb(35, 134, 226);
    }
    to{
        color: rgb(35, 134, 226);
        background-color: white;
        box-shadow: 0px 0px 40px rgb(124, 124, 124);
    }
}
body{
    margin: 0;
    padding: 0;
    text-align: center;
    font-family: Noto-sans;
}
h1{
    color: blue;
    text-shadow: 0 0 10px blue;
}
.buttons{
    padding: 15px;
    margin: auto;
    display: flex;
    background-color: white;
    color: rgb(35, 134, 226);
    justify-content: center;
    align-items: center;
    width: fit-content;
    height : max-content;
    border-radius: 10px;
    box-shadow: 0px 0px 40px rgb(124, 124, 124);
    font-size: medium;
    animation-name: button-anim-reverse;
    animation-duration: 1s;
}
.buttons:hover{
    animation-name: button-anim;
    animation-duration: 1s;
    color: white;
    background-color: rgb(35, 134, 226);
    box-shadow: 0px 0px 40px rgb(35, 134, 226);
}
.wrapper-flex{
    width: auto;
    height: auto;
    display: flex;
    align-items: center;
}
.video-box{
    margin: auto;
    margin-top: 20px;
    width: fit-content;
    height: fit-content;
    border-radius: 20px;
    border: 2px solid black;
}